{% load static %}



<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!--      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
   <script>{{ bundle_js|safe }}</script>
    <style>
        .lime.text_div {
            overflow:auto;
        }
    </style>
</head>

<div class="container">
	<div class="row">
		<div class="col-md-12">

  <div class="jumbotron">
    <h1>256 Final Demo</h1>
    <p>Created by Triple Xu</p>
  </div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<form method="post" action="{% url 'explainer' %}">
<!--                <form method="post" action="{% url 'index' %}">-->
        {% csrf_token %}
      <label for="comment">Comment:</label>
      <textarea  type="text" class="form-control" rows="5" id="comment" name="text" ></textarea>
        <input type="submit" value="submit"><br>
    </form>
		</div>
		<div class="col-md-8">
			<div class="row">
                <div id="figure3" class="lime top_div col-md-8">F3</div>
			</div>
			<div class="row">
                <div id="figure1" class="lime top_div col-md-4">F1</div>
                <div id="figure2" class="lime top_div col-md-4">F2</div>
			</div>
		</div>
	</div>
</div>
    </div>

<!--<div class="container">-->

<!--    <div class="container">-->
<!--  <div class="jumbotron">-->
<!--    <h1>256 Final Demo</h1>-->
<!--    <p>Created by Triple Xu</p>-->
<!--  </div>-->
<!--</div>-->

<!--    <form method="post" action="{% url 'index' %}">-->
<!--        {% csrf_token %}-->
<!--      <label for="comment">Comment:</label>-->
<!--      <textarea  type="text" class="form-control" rows="5" id="comment" name="name" ></textarea>-->
<!--        <input type="submit" value="submit"><br>-->
<!--    </form>-->



<!--</div>-->

<!--<div id="figure1"  class="lime top_div">F1</div>-->
<!--    <div id="figure2"  class="lime top_div">F2</div>-->
<!--    <div id="figure3"  class="lime top_div">F3</div>-->
<script>{{ out|safe }}</script>